$primary: #1c95d6;
$secondary: #1947ba;
$background: #0b1011;
$text: #eaeaea;

// $title-font: "Sansista Swashed", "Sansita Swashed Variable", "Lucida Calligraphy", cursive;
$title-font: "OpenDyslexic", "OpenDyslexic Variable", "Lucida Calligraphy", cursive;
$text-font: Helvetica, "Merriweather Sans", "Merriweather Sans Variable", "Roboto", sans-serif;
$h1Size: 5rem;
$h2Size: 3rem;
$h3Size: 2rem;
$smallRadius: 4px;
$radius: 8px;
$bigRadius: 16px;
