@import "reset";
@import "./tailwind.css";
@import "variables";
@import "mixins";
@import "fonts";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
	font-weight: normal;
	font-family: $text-font;
	scroll-behavior: smooth;
}

body {
	background-color: $background;
	color: $text;
	padding-bottom: 2rem;
	line-height: 1.5;
}

h1,
h2,
h3 {
	font-family: $title-font;
	font-weight: bold;
}

h1 {
	font-size: $h1Size;
}

h2 {
	font-size: $h2Size;
}

h3 {
	font-size: $h3Size;
}

p {
	@include centerMargin;

	display: block;
	max-width: 75ch;
}

a[href] {
	color: $primary;
}

img {
	display: block;
}

svg {
	display: block;

	&,
	line,
	path,
	ellipse {
		fill: currentcolor;
	}
}

.print-only {
	display: none;
}

.title {
	font-family: $title-font;
}

.linkList {
	& > ._item,
	& > * > ._item {
		@include verticalMargin(1em);
	}
}
