$primary: #1c95d6;
$secondary: #1947ba;
$background: #0b1011;
$text: #eaeaea;

$title-font: "SansistaSwashed", "Sansista Swashed", "Lucida Calligraphy", cursive;
$text-font: "Merriweather", "Merriweather Sans", "Roboto", sans-serif;