@import "./reset";
@import "./variables";
@import "./mixins";
@import "./fonts";

html {
	font-size: 16px;
	font-family: $text-font;
	font-weight: normal;
}

body {
	background-color: $background;
	color: $text;
}

h1,
h2,
h3 {
	font-family: $title-font;
	font-weight: bold;
}

h1 {
	font-size: $h1Size;
}

h2 {
	font-size: $h2Size;
}

h3 {
	font-size: $h3Size;
}

a[href] {
	color: $primary;
}
